#projects {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    margin: 4% 0;
    width: 90%;
}

#boxes {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
}

section {
    margin: 3% 1%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    text-align: center;
    line-height: 1.5;
    background-color: var(--card-bg);
    border-radius: 3px;
}

section a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#boxes section a img, #boxes section img {
    max-width: 200px;
    border: 2px solid black;
    border-radius: 3px;
}

#boxes section:hover {
    transform: scale(1.02);
    transition-duration: 0.4s;
}

@media screen and (max-width: 850px) {
    #boxes {
        width: 100%;
    }
}

@media screen and (max-width: 550px ) {
    #boxes {
        flex-flow: column nowrap;
        width: 90%;
        gap: 20px;
    }

    #projects {
        min-height: 800px;
    }
}