#projects {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
}

#boxes {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    height: 1000px;
    width: 50%;
}

section {
    margin: 3% 1%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 250px;
    text-align: center;
    line-height: 1.5;
}

section a {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

#boxes section a img {
    max-width: 200px;
    border: 2px solid black;
    border-radius: 3px;
}

#boxes section:hover {
    transform: scale(1.1);
    transition-duration: 0.4s;
}

@media screen and (max-width: 550px ) {
    #boxes {
        flex-flow: column nowrap;
    }
}