#bio {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    height: 100vh;
    text-align: left;
    margin: 5%;
}

#bio section {
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

@media screen and (max-width: 550px) {
    #bio {
        height: 600px;
        justify-content: flex-end;
    }
}

