#bio {
    display: flex;
    flex-flow: column nowrap;
    min-height: 450px;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    height: 600px;
    text-align: left;
    margin: 5%;
}

#bio section {
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

