#bio {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    margin: 5%;
    width: 100%;
}

#bio section {
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: left;
}

@media screen and (max-width: 550px) {
    #bio {
        margin-top: 100px;
    }
}

