#intro {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    height: 1000px;
}

#intro h2 {
    font-weight: normal;
}

@media screen and (max-width: 550px) {
    #intro {
        height: 600px;
    }

}

