footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 18px;
    width: 100%;
}

#links a {
    padding: 1% 4%;
}

#links {
    display: flex;
    flex-flow: row nowrap;
}

#links a:hover {
    transform: scale(1.05);
    transition-duration: 0.4s;
}

footer p {
    margin: 1% 4%;
}

@media screen and (max-width: 550px) {
    footer {
        flex-flow: column;
        justify-content: flex-end;
        align-items: flex-start;
        height: 600px;
        margin-left: 5%;
        padding: 1%;
    }

    #links a {
        padding: 4%;
    }

}